.fa-xi {
    display: none !important;
}

#loadDropdownPlaceholder {
    display: none !important;
}

#groupsDropdownPlaceholder {
    display: none !important;
}

#matrixChkBxPlaceholder {
    display: none !important;
}

#goTermsChkBxPlaceholder {
    display: none !important;
}

#validationStatus {
    display: none !important;
}

#targetDecoy {
    display: none !important;
}

#loadLayoutButton {
    display: none !important;
}

.savedLayoutName {
    display: none !important;
}

.saveLayoutButton {
    display: none !important;
}

#expDropdownPlaceholder > div > ul > li.sectionEnd {
    display: none !important;
}

#expDropdownPlaceholder > div > ul > li:nth-child(8) {
    display: none !important;
}

#alternatives{
    display: none !important;
}

#displayOptionsPlaceholder {
    display: none !important;
}

#xiNetButtonBar > span.layoutLabel.noBreak.sectionDividerLeft {
    border-left: 0;
}

/* Hide horizontal dividers in the Views dropdown */
#viewDropdownPlaceholder .sectionEnd {
    border-bottom: none !important;
}

:root {
    /*--main-color:#091D42;*/
    /*--main-color:red;*/
    --main-color:rgb(55, 58, 54) !important;;
    /*#333;*/
}